{% extends "app/admin/base1.html" %}

{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">

            <h1 class="mt-4">Company List</h1>

            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item">
                    <a href="{% url 'adminindex' %}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Company List</li>
            </ol>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-briefcase me-1"></i>
                    Available Job Posts
                </div>

                <div class="card-body">
                    <table id="datatablesSimple" class="table table-bordered table-striped">
                        <thead>
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>is_verified</th>
                                    <th>Created_At</th>
                                    <th>Updated_At</th>
                                    <th>Action</th> <!-- ← ek column mein dono buttons -->
                                </tr>
                            </thead>
                        </thead>

                        <tbody>
                            {% for i in allcompany %}
                            <tr>
                                <td>{{ i.email }}</td>
                                <td>{{ i.role }}</td>
                                <td>{{i.is_verified}}</td>

                                <td>{{ i.is_created }}</td>
                                <td>{{ i.is_updated }}</td>

                                <td>
                                    {% if i.is_verified %}
                                    <span class="badge bg-success">✅ Verified</span>
                                    {% else %}
                                    <a href="{% url 'verifycompany' i.id %}" class="btn btn-sm btn-success">Verify</a>
                                    {% endif %}
                                    <form action="{% url 'deletecompany' pk=i.id %}" method="post"
                                        style="display:inline">
                                        {% csrf_token %}
                                        <input type="submit" value="Delete" class="btn btn-sm btn-danger">
                                    </form>
                                </td>



                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="7" class="text-center text-danger">
                                    No Job Posts Found
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </main>
</div>
{% endblock %}


<!-- Name:-Pramod kumar
mob:-7678624677
email=pramoddevaa7777@gmail.com -->